<p>
  Hello <%= company %>,
</p>

<p>
  You have a new applicant!
</p>

<p><%= candidate %> has applied to <%= position %></p>

<p>
  Please <a href="<%= process.env.APP_URL %>">login</a> to your account to view them!
</p>

<p>
Happy Hiring,
<br/><br/>
Hire Assist Team<br/>
OpsMachine Consulting
</p>
