<p>
  Hello <%= candidate %>,
</p>

<p>
  Thank you for applying to <%= position %> at <%= company %>.
</p>

<p>Due to our influx of candidates, we can only reply to candidates that we are interested in.</p>

<p>
Thanks,
<br/><br/>
Hiring Team<br/>
<%= company %>
</p>
